body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 1000px;
}

a {
  color: white;
}

h1 {
  background: #009994;
  color: white;
  margin: 0;
  padding: 1em 0.5em 0.5em;
}

#ginto-logo {
  height: 1em;
}

#selectors {
  text-align: center;
  font-weight: bold;
  background: #f7d002;
  margin-bottom: 1em;
  padding: 0.5em;
}

#selectors select {
  font-size: 110%;
}
