body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 1000px;
}

canvas {
  margin-top: -80px;
}

a {
  color: #009994;
}

#ginto-logo {
  height: 1em;
}

#building-selector-container {
  text-align: center;
  font-weight: bold;
}
